
body {
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  color: #333;
  height: auto;
  background-size: cover;
}

.company-name{
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  background-color: rgba(255, 255, 255, .8);
  line-height: 1.5;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  font-family: 'Roboto Slab', serif;
}
h1{
  padding-left: auto;
  margin-right: auto;
}
.ruler{
  width: 40%;
  border: 1px solid #333333;
  margin: 0 auto;
}
.content{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  height: 100%;
  align-content: center;
}

.contact, .service {
  /*background-color: rgba(22, 89, 174, .6);*/
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  margin-bottom: 20px;
  padding: 70px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  box-sizing: border-box;
  font-size: 25px;
  color: #333333;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Lato', sans-serif;
}
.community, .locator-panel{
  /*background-color: rgba(22, 89, 174, .6);*/
  background-color: rgba(255, 255, 255, .9);
  text-align: center;
  margin-bottom: 20px;
  padding: 70px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  box-sizing: border-box;
  font-size: 25px;
  color: #333333;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Lato', sans-serif;
}
.no-decor:hover{
  text-decoration: none;
}
.contact:hover{
  background-color: rgba(233, 48, 48, .6);

  /*background-color: rgba(0, 0, 0, .5);*/
  color: rgba(255, 255, 255, 1);
}
.community:hover{
  text-decoration: none;
  background-color: rgba(233, 48, 48, .6);
  /*background-color: rgba(0, 0, 0, .5);*/
  color: rgba(255, 255, 255, 1);
}
.service:hover{
  text-decoration: none;
  background-color: rgba(22, 89, 174, .6);

  /*background-color: rgba(0, 0, 0, .5);*/
  color: rgba(255, 255, 255, 1);
}
.locator-panel:hover{
  text-decoration: none;

  /*background-color: rgba(0, 0, 0, .5);*/
  background-color: rgba(22, 89, 174, .6);
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1200px) {
  .no-decor {
    font-size: .5em;
    text-align: center;
  }
}
@media only screen and (max-width:990px) {
  .content {
    font-size: 2em;
  }
}
@media only screen and (max-width: 1200px) {
  .contact, .service, .locator-panel, .community {
    height: 210px;
  }
}
@media only screen and (max-width: 990px) {
  .company-name {
    font-size: 2em;
  }
}
/*.community{*/
  /*background-color: rgba(255, 255, 255, .8);*/
  /*text-align: center;*/
  /*margin: 10px;*/
  /*padding:50px;*/
  /*!*background-color: rgba(224, 44, 14, .7);*!*/
/*}*/
/*.locator-panel{*/
  /*!*background-color: rgba(22, 89, 174, .6);*!*/
  /*background-color: rgba(255, 255, 255, .8);*/
  /*text-align: center;*/
  /*margin: 10px;*/
  /*padding: 50px;*/
/*}*/

/*.service{*/
  /*!*background-color: rgba(22, 89, 174, .6);*!*/
  /*background-color: rgba(255, 255, 255, .8);*/
  /*text-align: center;*/
  /*margin: 10px;*/
  /*padding: 50px;*/
  /*box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);*/


/*}*/

/*.contact, .locator-panel, .service, .community {*/
  /*border-radius: 0;*/
  /*text-align: center;*/
  /*!*height: auto;*!*/
  /*!*width: auto;*!*/
  /*line-height: 1.5;*/
  /*vertical-align: middle;*/
  /*font-size: 2em;*/
  /*position: relative;*/
  /*!*margin-left: auto;*!*/
  /*!*margin-right: auto;*!*/
  /*box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);*/
  /*!*line-height: 330px;*!*/
  /*font-family: 'Roboto Slab', serif;*/

/*}*/





.footer{
  background-color: #0b97c4;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  left: 0;
  /*bottom: 0;*/
  padding: 1rem;
  text-align: center;
}
